* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: Helvetica, sans-serif;
}

body,
#game {
	height: 100%;
	width: 100%;
	background: #080b1c;
}

h1 {
	text-align: center;
	color: #fff;
	margin: 30px 0 100px;
}

#square {
	height: 200px;
	width: 200px;
	background: #385b9c;
	margin: 0 auto;
}
#square.start {
	cursor: pointer;
}

.timer {
	position: absolute;
	top: 60px;
	right: 60px;
	color: #fff;
	font-size: 30px;
}
