/* ---------------------------------------- *\
 * Reset
\* ---------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: Helvetica, sans-serif;
}



/* ---------------------------------------- *\
 * Main
\* ---------------------------------------- */

body,
#game {
	height: 100%;
	width: 100%;
}
h1 {
	text-align: center;
	color: #fff;
	margin: 30px 0 100px;
	font-size: 32px;
}

.square-container {
	height: 200px;
	width: 200px;
	margin: 0 auto 100px;
}
#square {
	margin: 0 auto;
	z-index: 10;
}
#square.over {
	position: relative;
	cursor: pointer;
	transition:
		height 300ms linear,
		width 300ms linear,
		top 300ms linear;
}
#square.playing {
	position: absolute;
}
.arrow-container {
	height: 0;
	position: relative;
}
.arrow-container .arrow {
	position: absolute;
	top: 100px;
	margin-top: -30px;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.arrow-container .arrow-left {
	left: -60px;
	border-left: 30px solid #fff;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	animation-name: bounce-left;
}
.arrow-container .arrow-left-counter {
	left: -60px;
	border-left: 20px solid #080b1c;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	animation-name: bounce-left;
}
@keyframes bounce-left {
	from {
		left: -60px;
	}
	to {
		left: -90px;
	}
}
.arrow-container .arrow-right {
	right: -60px;
	border-right: 30px solid #fff;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	animation-name: bounce-right;
}
.arrow-container .arrow-right-counter {
	right: -60px;
	border-right: 20px solid #080b1c;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	animation-name: bounce-right;
}
@keyframes bounce-right {
	from {
		right: -60px;
	}
	to {
		right: -90px;
	}
}

.difficulties {
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.difficulties .title {
	margin: 0 0 25px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.difficulties .difficulty {
	width: 250px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #aaa;
	padding: 5px 0 3px;
	margin: 0 auto 10px;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 10px;
	transition:
		color 120ms linear,
		border 120ms linear,
		background 120ms linear;
}
.difficulties .difficulty:hover,
.difficulties .difficulty.active {
	color: #fff;
}
.difficulties .difficulty.standard:hover {
	border-color: #389c5b;
}
.difficulties .difficulty.hard:hover {
	border-color: #9c5b38;
}
.difficulties .difficulty.impossible:hover {
	border-color: #9c385b;
}
.difficulties .difficulty.standard.active {
	background: #389c5b;
}
.difficulties .difficulty.hard.active {
	background: #9c5b38;
}
.difficulties .difficulty.impossible.active {
	background: #9c385b;
}

.timer {
	position: absolute;
	top: 30px;
	right: 30px;
	color: #fff;
	font-size: 30px;
	z-index: 9;
}



/* ---------------------------------------- *\
 * Difficulties
\* ---------------------------------------- */

#square.standard {
	height: 200px;
	width: 200px;
	top: 0;
}
#square.hard,
#square.impossible {
	height: 100px;
	width: 100px;
	top: 50px;
}
#square.impossible {
	cursor: none;
}


/* ---------------------------------------- *\
 * Levels
\* ---------------------------------------- */

body.level-1 {
	background: #080b1c;
}
.level-1 #square {
	background: #385b9c;
}

body.level-2 {
	background: #0b081c;
}
.level-2 #square {
	background: #5b389c;
}

body.level-3 {
	background: #081c0b;
}
.level-3 #square {
	background: #389c5b;
}

body.level-4 {
	background: #1c0b08;
}
.level-4 #square {
	background: #9c5b38;
}

body.level-5 {
	background: #1c080b;
}
.level-5 #square {
	background: #9c385b;
}
